<div class="contenedor">
    <div class="barra">
        <a class="logo" href="index.html">
            <h2 class="logo__nombre no-margin centrar-texto">-.-</h2>
        </a>

        <nav class="navegacion">
            <a routerLink="/eventos" class="navegacion___enlace">Eventos</a>
            <a routerLink="/reservas" class="navegacion___enlace">Reservas</a>
            <a routerLink="/compradores" class="navegacion___enlace">Clientes</a>
        </nav>
    </div>
    <div class="registro">
        <form [formGroup]="formulario">

            <h3 class="titulo">Registro de eventos</h3>

            <div class="campo">
                <label class="campo__label" for="descripcion">Descripción:</label>
                <input autocomplete="off" required class="campo__input" type="text" placeholder="Descripción"
                    formControlName="descripcion" id="descripcion">
            </div>
            <div class="campo">
                <label class="campo__label" for="lugar">Lugar:</label>
                <input autocomplete="off" required class="campo__input" type="text" placeholder="Lugar"
                    formControlName="lugar" id="lugar">
            </div>
            <div class="campo">
                <label class="campo__label" for="fecha">Fecha:</label>
                <input autocomplete="off" required class="campo__input" type="date" placeholder="Fecha"
                    formControlName="fecha" id="fecha">
            </div>
            <div class="campo">
                <label class="campo__label" for="boletas">Boletas:</label>
                <input autocomplete="off" required class="campo__input" type="number"
                    placeholder="Cantidad total de boletas" formControlName="boletas" id="boletas">
            </div>

            <div class="btn">
                <button class="boton" (click)="guardarEvento()">Guardar</button>
            </div>
        </form>
    </div>
</div>